{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset("css/test.css") }}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block title %}Etablissement{% endblock %}

{% block body %}

    {% set pages %}
        <center>
            page
            {% if page_10 > -1 %}
                <a href="/etablissements/vue/{{ page_10 }}" >{{ page_10 }} </a>&nbsp;
            {% endif %}

            {% if page_1 > -1 %}
                <a href="/etablissements/vue/{{ page_1 }}" >{{ page_1 }} </a>&nbsp;
            {% endif %}

            <b>{{ page }}</b>

            <a href="/etablissements/vue/{{ page1 }}" >{{ page1 }} </a>&nbsp;
            <a href="/etablissements/vue/{{ page10 }}">{{ page10 }}</a>
            <a href="/etablissements/vue/{{ page100 }}">{{ page100 }}</a><br/>
        </center>
    {% endset %}

    {{ pages }}

    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>UAI</td>
                <td>Appelation Officielle</td>
                <td>Code Postal</td>
            </tr>
        </thead>
        {% for et in etablissements %}
            <tr>
                <td>{{ et.getId() }}</td>
                <td>{{ et.getUai() }}</td>
                <td>{{ et.getAppellationOfficelle() }}</td>
                <td>{{ et.getCodePostal() }}</td>
            </tr>
        {% endfor %}
    </table>

    {{ pages }}

{% endblock %}