{% extends 'base.html.twig' %}

{% block title %}Selection Etablissement{% endblock %}

{% block body %}

    {% set pages %}
        <center>
            page
            {% if page_10 > -1 %}
                <a href="/etablissements/modifier/{{ page_10 }}" >{{ page_10 }} </a>&nbsp;
            {% endif %}

            {% if page_1 > -1 %}
                <a href="/etablissements/modifier/{{ page_1 }}" >{{ page_1 }} </a>&nbsp;
            {% endif %}

            <a href="/etablissements/modifier/{{ page1 }}" >{{ page1 }} </a>&nbsp;
            <a href="/etablissements/modifier/{{ page10 }}">{{ page10 }}</a>
            <a href="/etablissements/modifier/{{ page100 }}">{{ page100 }}</a><br/>
        </center>
    {% endset %}

    {{ pages }}

    <table>
        {% for et in etablissements %}
            <tr>
                <td><a href="/etablissements/{{ et.getId() }}/modifier" >{{ et.getAppellationOfficelle() }} - {{ et.getCodePostal() }}</a></td>
            </tr>
        {% endfor %}
    </table>

    {{ pages }}

{% endblock %}