{% extends 'base.html.twig' %}

{% block title %}Modifier etablissement{% endblock %}

{% block body %}

    <h2>{{ message }}</h2>

    <form method="post">
        <label for="uai">
            UAI:
            <input type="text" name="uai" value="{{ uai }}"/>
        </label>

        <br/>

        <label for="appellation_officelle">
            Appellation officielle :
            <input type="text" name="appellation_officelle" value="{{ appellation }}"/>
        </label>

        <br/>

        <label for="denomination">
            Denomination :
            <input type="text" name="denomination" value="{{ denomination }}"/>
        </label>

        <br/>

        <label for="secteur">
            Secteur :
            <input type="text" name="secteur" value="{{ secteur }}"/>
        </label>

        <br/>

        <label for="latitude">
            Latitude :
            <input type="number" name="latitude" step="0.0000000000001" value="{{ latitude }}"/>
        </label>

        <br/>

        <label for="longitude">
            Longitude :
            <input type="number" name="longitude" step="0.0000000000001" value="{{ longitude }}"/>
        </label>

        <br/>

        <label for="adresse">
            adresse :
            <input type="text" name="adresse" value="{{ adresse }}"/>
        </label>

        <br/>

        <label for="departement">
            Département :
            <input type="text" name="departement" value="{{ departement }}"/>
        </label>

        <br/>

        <label for="code_departement">
            Code département :
            <input type="text" name="code_departement" value="{{ code_departement }}"/>
        </label>

        <br/>

        <label for="commune">
            Commune :
            <input type="text" name="commune" value="{{ commune }}"/>
        </label>

        <br/>

        <label for="region">
            Région :
            <input type="text" name="region" value="{{ region }}"/>
        </label>

        <br/>

        <label for="academie">
            Académie :
            <input type="text" name="academie" value="{{ academie }}"/>
        </label>

        <br/>

        <label for="code_postal">
            Code postal :
            <input type="text" name="code_postal" value="{{ code_postal }}"/>
        </label>

        <br/>

        <label for="date_ouverture">
            Date ouverture :
            <input type="text" name="date_ouverture" value="{{ date_ouverture }}"/>
        </label>

        <br/>

        <input type="submit">
    </form>

{% endblock %}