{% extends "base.html.twig" %}

{% block title %}Commentaire{% endblock %}

    {% block body %}

        {% set pages %}
            <div class="centrer">
                page
                {% if page_2 > -1 %}
                    <a href="/commentaires/vue/{{ uai }}/{{ page_2 }}" >{{ page_2 }}</a>&nbsp;
                {% endif %}

                {% if page_1 > -1 %}
                    <a href="/commentaires/vue/{{ uai }}/{{ page_1 }}" >{{ page_1 }}</a>&nbsp;
                {% endif %}

                <a href="/commentaires/vue/{{ uai }}/{{ page1 }}" >{{ page1 }}</a>&nbsp;
                <a href="/commentaires/vue/{{ uai }}/{{ page2 }}"> {{ page2 }}</a>
                <a href="/commentaires/vue/{{ uai }}/{{ page3 }}"> {{ page3 }}</a><br/>
            </div>
        {% endset %}

        <b class="pageActuelle">{{ pages }}</b>

        <table>
            {% for com in commentaires %}
            <tr>
                <td>{{ com.getEtablissement() }}</td>
                <td>{{ com.getAuteur() }}</td>
                <td>{{ com.getDateString() }}</td>
                <td>{{ com.getNote() }}</td>
                <td>{{ com.getTexte() }}</td>
            </tr>
            {% endfor %}
        </table>

        {{ pages }}
{% endblock %}